.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: transparent;
  max-width: fit-content;
  min-height: fit-content;
}

.icon-card:focus.icon-card:active {
  background-color: var(--figma-color-bg-brand-hover);
}

.icon-card.selected {
  background-color: var(--figma-color-bg-brand-pressed);
}

.footer {
  padding: 0.5rem 1rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--figma-color-border);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--figma-color-bg);
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.icon-card-wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 0.5rem;
}
